:root {
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-size-adjust-body: 0.52;
    --font-size-adjust-heading: 0.54;
    
    /* Default light mode theme */
    --font-theme: "Montserrat", sans-serif;
    --accent-color: #0077cc;
    --accent-hover: #005fa3;
    --text-color: #222;
    --button-color: #333;
    --header-footer-color: #f8f8f8;
    --body-background-color: #f0f0f0;
    --settings-cog-color: #white;
    --settings-widget-color: lightgray;

    /* experience.html */
    --center-line-color: gray;

    /* Dark mode theme */
    &[data-theme="dark"] {
        --font-theme: "Montserrat", sans-serif; 
        --accent-color: #4da3ff;
        --accent-hover: #8bc2ff;
        --text-color: #e4e7ef;
        --button-color: #e4e7ef;
        --header-footer-color: #090c16;
        --body-background-color: #050810;
        --settings-cog-color: #fff;
        --settings-widget-color: rgb(53, 53, 53);

        /* experience.html */
        --center-line-color: white;
    }
}

/* MPA View Transitions */
@view-transition {
    navigation: auto;
}

::view-transition-group(root) {
    animation-duration: 0.35s;
    animation-timing-function: ease-out;
    /* animation-timing-function: cubic-bezier(.22, .61, .36, 1); */
}

::view-transition-old(root) {
    animation-name: slide-out-left-blur;
}

::view-transition-new(root) {
    animation-name: slide-in-right-blur;
}

@keyframes slide-out-left-blur {
    from {
        opacity: 1;
        transform: translateX(0) scale(1);
        filter: blur(0);
    }

    to {
        opacity: 0;
        transform: translateX(-5rem) scale(0.96);
        filter: blur(2px);
    }
}

@keyframes slide-in-right-blur {
    from {
        opacity: 0;
        transform: translateX(5rem) scale(1.03);
        filter: blur(2px);
    }

    to {
        opacity: 1;
        transform: translateX(0) scale(1);
        filter: blur(0);
    }
}

header { view-transition-name: header; }
footer { view-transition-name: footer; }
theme-widget { view-transition-name: theme-widget; }